*{
  margin:0;
  padding:0;
}
.section-container{
  display:flex;
  padding:50px;
  justify-content: center;
}
.container-cs{
  margin-right:25px;
  box-sizing: border-box;
  width:300px;
  background-image:linear-gradient(to bottom right, #A058F8 , #515EF3);
  color:white;
  padding:15px;
  min-height:450px;

  border-radius: 10px;
}
.container-cs h3{
  font-family: 'Cambon", Helvetica, Arial , sans-serif';
  line-height:30px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  font-style:normal;
}
.container-cs p{
  font-family: "Cambon, Helvetica, Arial, sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  margin-top:10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:center;
  
}
.container-cs .icon{
  display:block;
  width:40%;
  height:30%;
  margin:auto;
  margin-bottom:20px;
}
.container-cs a{
  display:block;
  background-color: #fff;
    color: #242424 !important;
    padding: 10px 20px;
    line-height: 1.6;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 700;
    border-style: solid;
    border-radius: 3px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
  border-radius: 50px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-bottom: 20px;
  width:80%;
  border:none;
  margin:auto;
  text-decoration: none;
  text-align:center;
  margin-top:20px;
  
}
.container-cs a:hover{
  opacity: 0.95;
}